@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site defers to GitHub to authenticate users. No login information is stored anywhere, but the process involves a number of essential cookies that you accept by signing-in.</p>

<p>GitHub authentication is required to access the <em>Admin</em> section of the site, but no authentication is needed otherwise.</p>